@tailwind base;
@tailwind components;
@tailwind utilities;
main {
    padding: 20px;
  }
  
  section {
    margin-bottom: 40px;
  }
  #section-main {
    background-color: #f0f8ff;
    padding: 20px;
  }
  
  #section-a {
    background-color: #ffefc3;
    padding: 20px;
  }
  
  #section-b {
    background-color: #d3e0ea;
    padding: 20px;
  }
  
  #section-c {
    background-color: #f8d7da;
    padding: 20px;
  }
  
  #section-e {
    background-color: #c8e6c9;
    padding: 20px;
  }
  
  #section-page-two {
    background-color: #e1bee7;
    padding: 20px;
  }
  
  #section-one {
    background-color: #fff3e0;
    padding: 20px;
  }
  
  main {
    padding: 40px 0;
  }
  